@import "../../../App.scss";
@import "../../filters/filters.module.scss";

.topBlock {
  @include topBlock();
}

.topTitle {
  @include topTitle();
}

.range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  & input {
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 40px;
    border: 1px solid #ededed;
  }
}

.itemFilter {
  @include itemFilter();
}
