@import "../../App.scss";

.wrapper {
  @include wrapper();
}

.container {
  @include container();
}
.main {
  @include main();
}

.typeTour {
  margin-top: 60px;
  margin-bottom: 60px;
  @include tablets() {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.typeBlock {
  margin-bottom: 70px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.typeItems {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  & li:not(:last-child) {
    margin-right: 20px;
    @include phones() {
      margin-right: 0px;
    }
  }
  @include phones() {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    & li {
      margin-right: 0px;
    }
  }
}

.typeItem {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  &:hover {
    color: $titleColor;
  }
  @include phones() {
    flex: 1 1 50%;
  }
}

.inputItems {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  & li:not(:last-child) {
    height: 50px;
    margin-right: 40px;
    @include laptop() {
      margin-right: 0px;
      gap: 20px;
    }
  }
  @include laptop() {
    gap: 20px;
    flex-wrap: wrap;
  }
  @include tablets() {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.inputItem {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  flex: 0 1 25%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: black;
  & input[type~="select"] {
    height: 50px;
    width: 100%;
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: black;
    font-family: $font-family-main;
    background-repeat: no-repeat;
    background-position: 90% 50%;
  }
  & input:focus {
    border: none;
  }
  @include laptop() {
    flex: 1 1 47%;
  }
}
