@import "../../App.scss";

.wrapper {
  @include wrapper();
}

.container {
  @include container();
}

.box {
  margin-top: 100px;
  margin-bottom: 50px;
}

.title {
  color: $titleColor;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 90px;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.bottomText {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  max-width: 550px;
  text-align: center;
  color: #282828;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 20px;
}

.button {
  display: flex;
  justify-content: center;
}
