@import "../../App.scss";

.wrapper {
  @include wrapper();
}

.box {
  margin-top: 150px;
}

.title {
  color: $titleColor;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 90px;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 0 1 50%;
  display: flex;
  margin-bottom: 40px;
}

.image {
  margin-right: 10px;
}

.content {
  margin-left: 10px;
}

.itemTitle {
  color: $titleColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}
