@import "../../App.scss";

.wrapper {
  @include wrapper();
}

.container {
  @include container();
}

.header {
  position: relative;
  flex: 1 0 100%;
}

.mainScreen {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.centerBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 155px;
  margin-bottom: 75px;
  @include desktop {
    margin-top: 100px;
    margin-bottom: 45px;
  }
}

.title {
  color: $textColor;
  position: relative;
  // text-align: left;
  display: flex;
  flex-direction: column;
  @include laptop {
    max-width: 460px;
  }
  @include tablets {
    max-width: 360px;
  }
}

.firstWord {
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
  text-transform: uppercase;
  @include laptop {
    font-size: 48px;
    line-height: 58px;
  }
  @include tablets {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 15px;
  }
}

.secondWord {
  font-family: $font-family-rearly, cursive;
  font-size: 64px;
  color: #ffc700;
  position: absolute;
  align-self: flex-end;
  top: 20%;
  @include laptop {
    font-size: 48px;
    line-height: 48px;
    top: 15%;
  }
}

.thirdWord {
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 117px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px $textColor;
  @include laptop {
    font-size: 96px;
    line-height: 96px;
  }
  @include tablets {
    font-size: 72px;
    line-height: 90%;
  }
}

.thirdWord:hover {
  color: #ffc700;
}

.socialIcons {
  align-self: flex-end;
  li:not(:last-child) {
    margin-bottom: 10px;
  }
}
