@import "../../App.scss";

.header {
  width: 100%;
  text-align: center;
  position: relative;
}
.fullScreen {
  img {
    width: 100%;
  }
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.headerTop {
  display: flex;
  justify-content: space-between;
  max-width: $wrapper;
  padding: 0px 10px;
  margin: 0 auto;
  margin-top: 25px;
}
.centerBlock {
  display: flex;
  justify-content: space-between;
  max-width: $wrapper;
  margin: 0 auto;
  margin-top: 155px;
}
.title {
  color: #ffffff;
  position: relative;
  text-align: left;
}
.firstWord {
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
  text-transform: uppercase;
}
.secondWord {
  font-family: $font-family-rearly, cursive;
  font-size: 64px;
  color: #ffc700;
  position: absolute;
  right: 25px;
  top: 20%;
}
.thirdWord {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 117px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #ffffff;
}
.thirdWord:hover {
  color: #ffc700;
}

.socialIcons {
  align-self: flex-start;
}
