@import "../../App.scss";

.footer {
  background-color: #ededed;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container {
  @include container();
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include laptop {
    flex-wrap: wrap;
  }
}

.logo {
  @include laptop {
    flex: 1 1 50%;
  }
  @include phones {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.navLinks {
  ul li {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    @include tablets() {
      font-size: 12px;
      line-height: 15px;
    }
  }
  ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  @include laptop {
    flex: 1 1 50%;
    order: 3;
  }
}

.messangersItems {
  .messangersItem:not(:last-child) {
    margin-bottom: 10px;
  }
  @include laptop {
    flex: 1 1 50%;
    order: 2;
  }
  @include phones {
    order: 4;
  }
}
.messangersItem {
  display: flex;
}

.itemImage {
  margin-right: 10px;
  img {
    display: block;
  }
}

.itemNumber {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  @include tablets() {
    font-size: 12px;
    line-height: 15px;
  }
}

.social {
  display: flex;
  flex-direction: column;
  @include laptop {
    flex: 1 1 50%;
    order: 4;
  }
  @include phones {
    flex: 1 1 100%;
    order: 2;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.mail {
  display: flex;
  margin-bottom: 20px;
  a {
    display: block;
    @include tablets() {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.mailImage {
  margin-right: 10px;
  img {
    display: block;
  }
}

.socialIcons {
  display: flex;
  .icon:not(:last-child) {
    margin-right: 12px;
  }
}
