@import "../../App.scss";

.about {
  position: relative;
  margin-top: 150px;
}

.container {
  @include container();
  display: flex;

  align-items: flex-end;
}

.image {
  position: relative;
  padding: 0 0 52.014% 0;
  img {
    display: block;
    position: absolute;
    max-width: 1071px;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.text {
  position: absolute;
  top: 50%;
  background: #ededed;
  border-radius: 10px;

  padding: 60px 75px 105px 85px;
  max-width: 540px;
}

.title {
  color: $titleColor;
  margin-bottom: 40px;
}

.contentText {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}
