@import "../../App.scss";

.headerTop {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.logoMain {
  img {
    display: block;
  }
}
.navlinks {
  display: flex;
  color: $textColor;
  & :hover {
    color: yellow;
    cursor: pointer;
  }
  & .link:not(:last-child) {
    margin-right: 20px;
  }
}
