@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  border: none;
  min-height: 100vh;
  height: 100%;
}

ul,
li {
  list-style-type: none;
}

a {
  color: #282828;
}
.App {
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

$font-family-main: "Montserrat";
$font-family-rearly: "Caveat";
$font-family-among: "Fru";

$titleColor: #0499dd;
$textColor: #ffffff;

$direction: 92.71deg;

$fromColor: #0499dd 0%;
$toColor: #17c1bc 100%;

@mixin container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

@mixin gradient() {
  $direction: 92.71deg;
  $fromColor: #0499dd;
  $toColor: #17c1bc;
  background-image: linear-gradient($direction, $fromColor, $toColor);
}

@mixin wrapper() {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@mixin desktop {
  @media screen and (max-width: 1150px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}
