@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

$wrapper: 1140px;
.k {
  font-family: "Montserrat", sans-serif;
}

$font-family-main: "Montserrat";

$button: red;

$textColor: #ffffff;

$direction: 92.71deg;

$fromColor: #0499dd 0%;
$toColor: #17c1bc 100%;

@mixin gradient() {
  $direction: 92.71deg;
  $fromColor: #0499dd;
  $toColor: #17c1bc;
  background-image: linear-gradient($direction, $fromColor, $toColor);
}
